<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <i class="bi bi-truck me-2"></i>
      {{ appTitle }}
    </a>
    <button
      class="navbar-toggler"
      type="button"
      (click)="toggleMenu()"
      aria-controls="navbarNav"
      [attr.aria-expanded]="!isMenuCollapsed"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse"
      [ngClass]="{ show: !isMenuCollapsed }"
      id="navbarNav"
    >
      <ul class="navbar-nav me-auto">
        <li class="nav-item" *ngFor="let item of menuItems">
          <a
            class="nav-link"
            [routerLink]="item.route"
            routerLinkActive="active"
          >
            <i [class]="item.icon + ' me-1'"></i>{{ item.title }}
          </a>
        </li>
      </ul>
      <div class="d-flex">
        <div class="dropdown" [ngClass]="{ show: showDropdown }">
          <ng-container
            *ngIf="user && (user.nombre || user.email); else loginBtn"
          >
            <button
              class="btn btn-outline-light dropdown-toggle"
              type="button"
              id="userDropdown"
              (click)="showDropdown = !showDropdown"
              aria-expanded="showDropdown"
            >
              <img
                *ngIf="user?.fotoUrl"
                [src]="user.fotoUrl"
                class="rounded-circle me-2"
                width="32"
                height="32"
                alt="Foto de perfil"
              />
              <i *ngIf="!user?.fotoUrl" class="bi bi-person-circle me-1"></i>
              {{ user?.nombre || user?.email || "Usuario" }}
            </button>
            <ul
              class="dropdown-menu dropdown-menu-end"
              [class.show]="showDropdown"
              aria-labelledby="userDropdown"
            >
              <li><a class="dropdown-item" href="#">Perfil</a></li>
              <li><a class="dropdown-item" href="#">Configuración</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a class="dropdown-item" (click)="logout()">Cerrar sesión</a>
              </li>
            </ul>
          </ng-container>
          <ng-template #loginBtn>
            <a class="btn btn-outline-light" routerLink="/login">
              <i class="bi bi-box-arrow-in-right me-1"></i> Iniciar sesión
            </a>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</nav>
